%section.sign_in.containter
  .row
    = bootstrap_form_tag url: sign_in_path, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-4" do |f|
      %header
        %h1 Sign In
      = f.email_field :email, label: "Email Address"
      = f.password_field :password
      = f.submit 'Sign in', class: 'col-sm-offset-2 btn btn-default'

